{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/dregister.css' %}">

<img src="{% static 'images/g-1.png' %}" class="bg-image top-left" alt="Background 1">
<img src="{% static 'images/g-2.png' %}" class="bg-image top-right" alt="Background 2">
<img src="{% static 'images/g-3.png' %}" class="bg-image bottom-left" alt="Background 3">
<img src="{% static 'images/g-4.png' %}" class="bg-image bottom-right" alt="Background 4">

<div class="registration-container">
    <h2>Doctor Registration</h2>
    <form method="POST" enctype="multipart/form-data" class="registration-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="submit-button">Register</button>
    </form>
    <p class="login-link">Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>

{% endblock %}
